<div class="login-container">
  <div class="filter">
    <form (ngSubmit)="onRegister()">

      <div>
        <label for="nome_utente">Username:</label>
        <input
          type="text"
          id="nome_utente"
          name="nome_utente"
          [(ngModel)]="nome_utente"
          placeholder="mario_rossi"
          required
        />
      </div>

      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="mario@test.it"
          required
        />
      </div>

      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="••••••••"
          required
        />
      </div>

      <div>
        <label for="conferma_password">Conferma Password:</label>
        <input
          type="password"
          id="conferma_password"
          name="conferma_password"
          [(ngModel)]="conferma_password"
          placeholder="••••••••"
          required
        />
      </div>

      @if (errore) {
        <p class="errore">{{ errore }}</p>
      }

      <button type="submit">Registrati</button>
      <button type="button" (click)="goToLogin()">Hai già un account? Accedi</button>

    </form>
  </div>
</div>