<div class="home-container">
  <div class="text-container">
    <h1>Benvenuto su Progetto Recensioni</h1>
    <p>Esplora il mondo del cinema e delle serie TV con le nostre recensioni dettagliate e affidabili. Che tu sia un appassionato di film o un fan delle serie, qui troverai tutto ciò di cui hai bisogno per scegliere cosa guardare. Leggi le recensioni dei nostri esperti, scopri le ultime uscite e condividi le tue opinioni con la nostra community di appassionati. Inizia subito a esplorare e trova il prossimo titolo da aggiungere alla tua watchlist! </p>
    
  </div>
</div>
